<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- <link rel="stylesheet" href="../../public/css/style.css"> --}}
</head>
<body>
    <nav>
        <p>homepage</p>
        <a action="GET" href="/">Home Page</a>
        <a action="GET" href="/dashboard">Dashboard</a>
        <a action="GET" href="/login">Login</a>
        <a action="POST" method="post" href="/logout">Logout<a/>

        <form action="/logout" method="post">
        
        <button type="submit">logout</button>
        
        </form>

                
    </nav>

{{{body}}}

{{#if error}}
<div class="error-popup">
    {{error}}
</div>
{{/if}}


</body>
</html>