<h1>you are home baby</h1>

<section>
    {{!-- we are going to loop through all the data and show the title and content --}}
    {{!-- {{#each blogPosts as |BlogPost|}} --}}
    <article>
        {{!-- this is how you call the data --}}
       <form action="post"></form>
       
        <h2>{{BlogPost.title}}</h2>


        <p>{{BlogPost.content}}</p>
        <p>date created</p>
        <p>{{BlogPost.createdAt}}</p>
        <p>username</p>
        <p>{{User.username}}</p>



    </article>
    {{!-- {{/each}} --}}









</section>