{{!-- action is the end point || method is the endpoint --}}
{{!-- You REALLY!!! want this to post girlfriend --}}
<form action="/login" method="POST">
<p>login</p>
{{!-- email inupt --}}

{{!-- email will be the key for data when it arrives in auth.js router.post('/login, (req, res)--}}
<input type="text" name="username" placeholder="username">

{{!-- password input--}}
<input type="text" name="password" placeholder="password">

<button type="submit">Login</button>

</form>

<form action="/signup" method="POST">
<p>signup</p>
<input type="text" name="username" placeholder="username">
    <input name="password" placeholder="password" type="text">
    <button type="submit">Signup</button>

</form>