{{!-- action is the end point || method is the endpoint --}}
{{!-- You REALLY!!! want this to post girlfriend --}}
<form action="/login" method="post">

{{!-- email inupt --}}

{{!-- email will be the key for data when it arrives in auth.js router.post('/login, (req, res)--}}
<input type="text" name="username" placeholder="username">

{{!-- password input--}}
<input type="text" name="password" placeholder="password">

<button type="submit">Login</button>

</form>